{% extends 'layouts/base.html.twig' %}

{% block title %}Panterest{% endblock %}

{% block body %}
  <h1>{{ pluralize(pins|length, 'Pin', 'Pins') }}
  
  </h1>
  {% for pin in pins %}
    <article>
      <h2><a href="pins/{{pin.id}}">{{ pin.title }}</a></h2>
      <p>{{ pin.description|u.truncate(30, '...', false) }}</p>
      <p>{{ pin.createdAt|ago }}</p>
    </article>
  {% endfor %}
{% endblock %}
